.app {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100%;
  background: #332255;
}

.section {
  height: calc(100vh - 185px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  
  &-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
  }

  &-description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: rgba(255, 255, 255, 0.6);
  }

  &-image {
    width: 90%;
    margin-top: 25px;
    opacity: .6;
  }
}